{% extends "base.html" %}
{% block body %}
            <div class="container" style="margin-top: 20px;"> 
            <span>
              <form class="form-signin" action="{{url_for('register')}}" method="post">
                <h2 class="form-signin-heading">Please register here</h2>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" name = "username" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="passwd" id="inputPassword" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
              </form>
<img src="/static/images/picture.png" style="height: 400px;margin-left: 10px;padding-left: 10px; width:800px">
            </span>
            </div> <!-- /container -->

	{% with messages = get_flashed_messages() %}
		{% for message in messages %}
            <pre>
			{{message}}
            </pre>
		{% endfor %}
	{% endwith %}
{% endblock %}