{% extends "base.html" %}
{% block body %}
            <div class="container" style="margin-top: 20px;"> 
              <form class="form-signin" action="{{url_for('register')}}" method="post">
                <h2 class="form-signin-heading">Please register here</h2>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" name = "username" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="passwd" id="inputPassword" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
              </form>
            </div> <!-- /container -->
{% endblock %}
{% block nav %}
<li><a href="{{url_for('login')}}">Home</a></li>
{% endblock %}