{% extends "base.html" %}
{% block body %}
<!--
<div class="container-fluid" style="margin-top:50px;">
                   	<form action="{{url_for('search')}}" method="post" class= "form-inline">
                          <div class="form-group">
                            <label for="Query">Query</label>
                            <input type="text" class="form-control" id="Query" name="Query" placeholder="Enter keywords" required>
                          </div>
                          <button type="submit" class="btn btn-default">Submit</button><i class="glyphicon glyphicon-search"></i>
                    </form>
</div>
-->
{% endblock %}


{% block nav %}
	{% include 'navigation.html' %}
{% endblock %}