{% extends "base.html" %}



{% block body %}
{% if 'query' in session %}
<!-- Icon Panels - START -->
<div class="container" style="margin-top:40px;">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"><a href="#" onclick="showtweettable();" title="List of tweets"> <span class="glyphicon glyphicon-list-alt btn-lg white"></span></a></div>
                    <div class="info">
                        <h3 class="title">Tweets</h3>
                        <div class="more">
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"><a href="#svg" onclick="showsnagraph();" title="Key Influencers"> <span class="glyphicon glyphicon-user btn-lg white"></span></a></div>
                    <div class="info">
                        <h3 class="title">Influencers</h3>
                        <div class="more">
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"><a href="#svg" onclick="showsentimentgraph();" title="Sentiment Analysis"><span class="glyphicon glyphicon-heart btn-lg white"></span></a></div>
                    <div class="info">
                        <h3 class="title">Sentiment</h3>
                        <div class="more">
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
    </div>
</div>



<style>
.white {
    color: white;
}

.btn-lg {
    font-size: 38px;
    line-height: 1.33;
    border-radius: 6px;
}

.box > .icon {
    text-align: center;
    position: relative;
}

.box > .icon > .image {
    position: relative;
    z-index: 2;
    margin: auto;
    width: 88px;
    height: 88px;
    border: 7px solid white;
    line-height: 88px;
    border-radius: 50%;
    background: #63B76C;
    vertical-align: middle;
}

.box > .icon:hover > .image {
    border: 4px solid black;
}

.box > .icon > .image > i {
    font-size: 40px !important;
    color: #fff !important;
}

.box > .icon:hover > .image > i {
    color: white !important;
}

.box > .icon > .info {
    margin-top: -24px;
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid #e0e0e0;
    padding: 15px 0 10px 0;
}

    .box > .icon > .info > h3.title {
        color: #222;
        font-weight: 500;
    }

    .box > .icon > .info > p {
        color: #666;
        line-height: 1.5em;
        margin: 20px;
    }

.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a {
    color: #222;
}

.box > .icon > .info > .more a {
    color: #222;
    line-height: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.box > .icon:hover > .info > .more > a {
    color: #000;
    padding: 6px 8px;
    border-bottom: 4px solid black;
}

.box .space {
    height: 30px;
}
</style>
<!-- Icon Panels - END -->

<div id='svg' class="col col-lg-12 text-center " style="margin-top:40px;">

	{% include 'show_sna_graph.html' %}
	{% include 'show_scatterplot.html' %}
</div>

    <div class="container" style="margin-top:20px;">

<!--
	<table data-url="{{url_for('static', filename='tweets/%s.txt' % filename) }}" data-height="299" data-sort-name="user" data-sort-order="desc">
    <thead>
        <tr>
            <th data-field="user" data-align="right" data-sortable="true">Item ID</th>
            <th data-field="text" data-align="center" data-sortable="true">Item Name</th>
        </tr>
    </thead>
</table> -->
	
   <table class="table table-hover table-bordered table-striped" id="tweetstable" style="border-width:2px;">
       <tr> 
        <th style="font-size:18px;">Id</th>
        <th style="font-size:18px;">User</th>
        <th style="font-size:18px;">Text</th>
        <th style="font-size:18px;">Hashtag</th>
        <th style="font-size:18px;">Date Time</th>
      </tr>
    {% for i in range(tweets|length) %}
      <tr>
        <td> {{i+1}} </td>
        <td><a class='iframe' href="https://twitter.com/{{tweets[i][1]}}" >{{ tweets[i][1] }}</a></td>
        <td>{{ tweets[i][0] }}</td>
        <td>{{ "#"+ " #".join(tweets[i][2]) }}</td>
        <td>{{ tweets[i][3] }}</td>
      </tr>
      {% endfor %}
    </table> 
    </div>	<!-- end container -->

<!-- JavaScript for query.colorbox.js-->
<script>
	$(document).ready(function() {
		//Examples of how to assign the Colorbox event to elements
		$(".iframe").colorbox({iframe:true, width:"80%", height:"80%"});
	});
</script>
<!-- JavaScript to parse Twitter Date - createdat -->
<script type="text/JavaScript">
function TwitterDateConverter(time){
	var date = new Date(time),
		diff = (((new Date()).getTime() - date.getTime()) / 1000),
		day_diff = Math.floor(diff / 86400);
			
	if ( isNaN(day_diff) || day_diff < 0 || day_diff >= 31 )
		return;
			
	return day_diff == 0 && (
			diff < 60 && "just now" ||
			diff < 120 && "1 minute ago" ||
			diff < 3600 && Math.floor( diff / 60 ) + " minutes ago" ||
			diff < 7200 && "1 hour ago" ||
			diff < 86400 && Math.floor( diff / 3600 ) + " hours ago") ||
		day_diff == 1 && "Yesterday" ||
		day_diff < 7 && day_diff + " days ago" ||
		day_diff < 31 && Math.ceil( day_diff / 7 ) + " weeks ago";
}
</script>
<script>
var filename="emptyfilename";
var sfilename="emptyfilename";

$('#wordCloud').hide();
	
	function showsentimentgraph(){
		$('#tweetstable').hide();
		d3.select("#snagraph").remove();
		d3.select("#idtooltip").remove();
		sfilename="{{url_for('static', filename='tweets/%s' % filename) }}";
		$('#wordCloud').show();
		drawsplot(sfilename);
	}
	
	function showtweettable(){
		d3.select("#snagraph").remove();
		d3.select("#idtooltip").remove();
		$('#wordCloud').hide();
		//d3.select("#splot1").remove();
		d3.select("#splot2").remove();
		$('#tweetstable').show();
	};
	
	function showsnagraph(){
		$('#tweetstable').hide();
		$('#wordCloud').hide();
		//d3.select("#splot1").remove();
		d3.select("#splot2").remove();
		filename = "{{url_for('static', filename='tweets/%s.json' % filename) }}";
		drawsnagraph(filename);
	};
</script>

{% endif %}	
{% endblock %}


{% block nav %}
	{% include 'navigation.html' %}
{% endblock %}