{% extends "base.html" %}

{% block body %}
<style type="text/css">
	.qs-nav-tab{
		margin: 20px;
	}
</style>



<div class="qs-nav-tab">
    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="tab" href="#sectionA">Tweet Sentiment</a></li>
        <li><a data-toggle="tab" href="#svg" onclick="showsnagraph();">User Network</a></li>
        <li><a data-toggle="tab" href="#sectionC" onclick="showtweettable();">Tweets Table</a></li>
        <!-- <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a data-toggle="tab" href="#dropdown1">Dropdown1</a></li>
                <li><a data-toggle="tab" href="#dropdown2">Dropdown2</a></li>
            </ul>
        </li> -->
    </ul>
    <div class="tab-content">
        <div id="sectionA" class="tab-pane fade in active">
            <h3>Tweet Sentiment</h3>
            <p>The scatter plot shows the sentiment of the tweets. The red color denotes negative sentiment and green positive. The horizontal axis shows the commitment of the positive sentiment and the vertival axis show the negative.</p>
			
        </div>
        <div id="svg" class="tab-pane fade">
            <h3>User Network</h3>
            <p>The network graph shows the relation between the tweet users. It connects the users with mentions and retweets. The circle size is in direct relation to the connection each user has.</p>
			{% include 'show_sna_graph.html' %}
        </div>
        <div id="sectionC" class="tab-pane fade">
            <h3>Tweets Table</h3>
            <p>This table lists all the tweets that has been processed for this search keyword. All the tweets are listed for reference.</p>
        </div>
        <!--<div id="dropdown1" class="tab-pane fade">
            <h3>Dropdown 1</h3>
            <p>WInteger convallis, nulla in sollicitudin placerat, ligula enim auctor lectus, in mollis diam dolor at lorem. Sed bibendum nibh sit amet dictum feugiat. Vivamus arcu sem, cursus a feugiat ut, iaculis at erat. Donec vehicula at ligula vitae venenatis. Sed nunc nulla, vehicula non porttitor in, pharetra et dolor. Fusce nec velit velit. Pellentesque consectetur eros.</p>
        </div>
        <div id="dropdown2" class="tab-pane fade">
            <h3>Dropdown 2</h3>
            <p>Donec vel placerat quam, ut euismod risus. Sed a mi suscipit, elementum sem a, hendrerit velit. Donec at erat magna. Sed dignissim orci nec eleifend egestas. Donec eget mi consequat massa vestibulum laoreet. Mauris et ultrices nulla, malesuada volutpat ante. Fusce ut orci lorem. Donec molestie libero in tempus imperdiet. Cum sociis natoque penatibus et magnis.</p>
        </div> -->
    </div>
</div>

	
    <div class="container" style="margin-top:20px;">

<!--
	<table data-url="{{url_for('static', filename='tweets/%s.txt' % filename) }}" data-height="299" data-sort-name="user" data-sort-order="desc">
    <thead>
        <tr>
            <th data-field="user" data-align="right" data-sortable="true">Item ID</th>
            <th data-field="text" data-align="center" data-sortable="true">Item Name</th>
        </tr>
    </thead>
</table> -->
	
   <table class="table table-hover table-bordered table-striped" id="tweetstable">
       <tr> 
        <th>Id</th>
        <th>User</th>
        <th>Text</th>
        <th>Hashtag</th>
      </tr>
    {% for i in range(tweets|length) %}
      <tr>
        <td> {{i+1}} </td>
        <td>{{ tweets[i][1] }}</td>
        <td>{{ tweets[i][0] }}</td>
        <td>{{ "#"+ " #".join(tweets[i][2]) }}</td>
      </tr>
      {% endfor %}
    </table> 
    </div>	<!-- end container -->

<script>
	
	function initialize(){
		$('#tweetstable').hide();
		d3.select("#snagraph")
		.remove();
	}
	initialize();
	
	function showtweettable(){
		initialize();
		$('#tweetstable').show();
	};
	
	function showsnagraph(){
		initialize();
		drawsnagraph();
	};
</script>
	
{% endblock %}

{% block nav %}
	{% include 'navigation.html' %}
{% endblock %}