

<style>

.chart {

}

.main text {
    font: 10px sans-serif;	
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}



</style>

	<body>

	
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='d3.layout.cloud.js') }}"></script>
	<script>
		
	function drawsplot() {

    // var data = [[5,3], [10,17], [15,4], [2,8]];
    var data;

    //var cValue = function(d) { if (d.weight > 0) return d.weight*2 + 8 ; else return 0;};
    var fill = d3.scale.category20();
	

    d3.json("{{url_for('static', filename='tweets/%ssplot1.json' % filename) }}", function(error, json) {
      if (error) return console.warn(error);
      data = json;
 
	d3.layout.cloud().size([1200, 900])
      .words(data.map(function(d) {
        return {text: d.word, size: d.weight};
      }))
      .padding(5)
      .rotate(function() { return ~~(Math.random() * 2) * 90; })
      .font("Impact")
      .fontSize(function(d) { return d.size; })
      .on("end", draw1)
      .start();

  function draw1(words) {
  
		var	margin = {top: 50, right: 20, bottom: 30, left: 50},
			width = 900 - margin.left - margin.right,
			height = 500 - margin.top - margin.bottom;

  
		var chart1 = d3.select("body").append("svg").attr("id","splot1").attr("width", 900)
        .attr("height", 500).append("g")
        .attr("transform", "translate(500,300)");
		
      chart1
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {

          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
		
		chart1.append("text")
        .attr("x", 125)             
        .attr("y", -275)
        .attr("text-anchor", "middle")  
        .style("font-size", "32px") 
        .style("text-decoration", "underline")  
        .text("Positive Tweets");
		


  }
  });
  
  
  d3.json("{{url_for('static', filename='tweets/%ssplot2.json' % filename) }}", function(error, json) {
      if (error) return console.warn(error);
      data = json;
 
	d3.layout.cloud().size([1200, 900])
      .words(data.map(function(d) {
        return {text: d.word, size: d.weight};
      }))
      .padding(5)
      .rotate(function() { return ~~(Math.random() * 2) * 90; })
      .font("Impact")
      .fontSize(function(d) { return d.size; })
      .on("end", draw2)
      .start();

  function draw2(words) {
  
		var chart2 = d3.select("body").append("svg").attr("id","splot2").attr("width", 900)
        .attr("height", 500).append("g")
        .attr("transform", "translate(500,300)");
		
      chart2
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {

          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
		
		chart2.append("text")
        .attr("x", 125)             
        .attr("y", -275)
        .attr("text-anchor", "middle")  
        .style("font-size", "32px") 
        .style("text-decoration", "underline")  
        .text("Positive Tweets");
  }
  });
};
</script>
</body>   
    
	